.login-form {
    width: 300px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #f9f9f9;
}

.input-field {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px; 
    box-sizing: border-box; 
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none; 
    border-radius: 3px;
    background-color: #007bff; 
    color: #fff; 
    cursor: pointer; 
    margin-top: 5px;
}

.submit-button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}
input.ng-invalid.ng-touched{
    border: red 1px solid;
}
small{
    color: red;
}