<form [formGroup]="logInForm" class="login-form">
    <h1>{{'login page' | translate}}</h1>
    <input class="input-field" type="text" placeholder="username" formControlName="username">
    
    <small *ngIf="this.logInForm.get('username')?.invalid && this.logInForm.get('username')?.touched">*Username is required</small>
    <input class="input-field" type="password" placeholder="Password" formControlName="password">
    <small *ngIf="this.logInForm.get('password')?.invalid && this.logInForm.get('password')?.touched">*Password is required</small>
    
    <button class="submit-button" type="submit" (click)="Login()" [disabled]="logInForm.invalid">Sign In</button>
    <button type="button" class="submit-button" (click)="goToRegister()">{{'Register' | translate}}</button>
    <div>
        <a (click)="setLanguage('ka')">KA</a>
        <br>
        <a (click)="setLanguage('en')">EN</a>
        <br>
        <a (click)="setLanguage('de')">DE</a>
    </div>
</form>